// Typography
$font-size-extra-small: 9px;
$font-size-small: 11px;
$font-size-default: 16px;
$font-size-medium: 18px;
$font-size-big: 22px;
$font-size-huge: 120px;

$font-size-h1: 46px;
$font-size-h2: 32px;
$font-size-h3: 22px;
$font-size-h4: 12px;
$font-size-h5: 9px;


// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

// Space
$space-1: 8px;
$space-2: 12.5px;

// Paddings
$box-padding: 40px 30px;

// Sizes
$c-sidebar-width: 0;

// Z-index
$z-index-1: 0;
$z-index-2: 1;
$z-index-3: 9;
$z-index-4: 10;

// Times
$animation-time: .16s;
$animation-time-2: .24s;
$animation-time-3: .5s;
$animation-time-4: .75s;

// Eases
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Flexbox grid
$sm: 24rem;
$md: 48rem;
$lg: 62rem;
$xlg: 80rem;

$flexboxgrid-max-width: 1024px;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 1.5rem;
$flexboxgrid-outer-margin: 1.5rem;
$flexboxgrid-breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xlg: $xlg
);

//overwrites for FE framework
$ultraltgray: $marapp-gray-1;
$ltgray: $marapp-gray-2;
$mdltgray: $marapp-gray-3;
$mdgray: $marapp-gray-5;
$mddkgray: $marapp-gray-6;
$dkgray: $marapp-gray-7;
$ultradkgray: $marapp-gray-8;

$ng-gold: $marapp-primary-color;

$theme-primary-background: $marapp-primary-color;
$theme-primary-muted-background: lighten($theme-primary-background, 25%);

$base-heading-font-family:   $marapp-primary-font;
$base-body-font-family:   $marapp-secondary-font;

$global-link-color: $marapp-gray-0;
