@import '~styles/config';

.ng-inline-card {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  &.ng-inline-card-editing {
    background: $marapp-gray-7;
    z-index: 1011;
  }
}

.ng-edit-card-button {
  position: absolute;
  right: 20px;
}
