@import "~styles/config";

.ng-c-sidebar {
  .ng-icon {
    line-height: 100%;
  }

  .ng-c-text-body {
    font-family: $marapp-secondary-font, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
  }

  .ng-c-input-container {
    border: 1px solid $marapp-gray-5;
    &.is-focused {
      border-color: $marapp-gray-0;
    }
  }

  .ng-sticky-top {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: $shadow-large;
  }
}
