@import '~styles/config';

.c-panorama {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .panorama--visualization {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-index-1;
  }
}
