@import '~styles/config';

.c-map-controls {
  position: absolute;
  bottom: $space-1 * 5;
  right: $space-1 * 3;
  z-index: 999;

  .map-controls--list {
    position: relative;
    margin: 0;
    padding: 0;
  }
}
