@import '~styles/config';

.c-legend-fires {
  text-transform: uppercase;
  font-size: $font-size-extra-small;
  font-weight: $font-weight-bold;
  letter-spacing: 1px;
  color: rgba($marapp-gray-0, 0.75);
  padding: 0 0 $space-1;
  line-height: 2.5;

  > * {
    margin-right: $space-1;
  }
}
