@import '~styles/config';

.ng-ep-tabs {
  display: flex;

  .ng-ep-tab {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px;
    cursor: pointer;
    margin-right: 25px;

    &.ng-ep-tab-selected {
      border-bottom: 2px solid $marapp-primary-color;
    }
  }
}